ul{
    /*border: 3px solid red;*/
    list-style-type: none;
    display: inline-flex;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    color: rgb(0, 0, 171);
    font-weight: bold;
    border: 3px solid black;
}

nav{
    border: 3px solid blue;

}

#container-nav{
    display: flex;
    max-width: max-content;
    border: 3px solid yellow;
}