ul{
    list-style-type: none;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    color: rgb(0, 0, 171);
    font-weight: bold;
}

#nav-up{
    background-color: rgb(0, 0, 0);
}

#nav-li-up{

}

#container-nav{
    display: flex;
    width: 10000px;
}